body {
    margin: 0;
    padding: 0;
    background:linear-gradient(to left, blue, gray);
}
#col-1{
    background: black;
}
/* .box{
    position: absolute;
    top: 10%;
    left:50%;
    
    transform: translate(-50%,-50%)
} */
/* .box:hover{
    border:black;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
    padding:5px;
    background:rgb(164, 161, 161);

} */

/* form{
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;

} */

#first-header{
    margin: auto;
    /* width: 50%; */
    /* border: 3px solid gray; */
    /* padding: 10px; */
    text-align: center;

}
#game-container:hover{
    
    box-shadow:0 32px 48px 0 rgba(0,0,0,0.6)

}
#game-container{
    width:300px;
    height:400px;
    border: solid black;
    background: rgb(164, 161, 161);
    margin:absolute;
    width: 50%; 
    overflow: hidden;
    overflow-y:scroll;
    
   
     height: 50%;
    padding: 10px; 
}
.wrap{
    width:1000px;
    margin:auto;
    margin-top:100px
}
/* .card{
    box-shadow: 0 4px 8px 0 black;
    transition:0.4s;
    width: 1000px;
    background: gray;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    float: left;
    margin:10px;
} */
/* #select-form:hover{
    padding:5%;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
} */
#select-form{
    width:100%;
    padding:5%;
}
#select-container1{
    margin:auto;
    width:25%;
}
/* #select-container2{
    margin:auto;
    width:25%;
} */


/* .box{
    
    position: relative;
    background: gray;
    width: 100vw;
    height: 100vh;
    border: thick solid black
    /* margin: auto; */
/* / */
/* .content1-left{
    background-color: red;
}
.content1-middle{
    background-color: gold;
}
.content1-right{
    background-color: blue;
}  */
